.btn-social:hover, .btn-social:focus, .btn-social.focus {
  color: #fff;
}

.sign-in-error{
  background-color: $colorGrayscale-sand;
  color: $colorCru-gray;
  text-align: center;
  padding: 14.5px;
  &.ng-enter{
    animation: slideInDown 1s;
  }
}
