<div layout="row" layout-align="center">
  <md-card>
    <md-progress-linear md-mode="indeterminate" class="md-accent" ng-if="welcome.authenticating"></md-progress-linear>
    <md-card-content layout="column">
      <md-button class="md-raised social-sign-in" ng-click="welcome.authenticate('google')">
        <md-icon md-svg-icon="google" aria-label="google "></md-icon>
        Sign in with Google
      </md-button>

      <md-button class="md-raised social-sign-in facebook-sign-in" ng-click="welcome.authenticate('facebook')">
        <ng-md-icon icon="facebook"></ng-md-icon>
        Sign in with Facebook
      </md-button>
    </md-card-content>
  </md-card>
</div>
