<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign in</h3>
        </div>
        <div class="panel-body">
          <button class="btn btn-default" ng-click="welcome.auth.authenticate('google')">Sign in with Google</button>
          <button class="btn btn-default" ng-click="welcome.auth.authenticate('facebook')">Sign in with Facebook</button>
        </div>
      </div>
    </div>
  </div>
</div>
