<div layout="row">
  <md-card flex>
    <md-card-content>
      <md-data-table-toolbar layout="row" layout-align="space-between">
        <h2 class="md-title" flex>Freshmen Men</h2>
        <h2 class="md-subhead" flex style="text-align: right">40 Total - 20 Uncontacted</h2>
      </md-data-table-toolbar>
      <md-data-table-container>
        <table md-data-table md-row-select="selected" md-progress="deferred">
          <thead md-order="query.order" md-trigger="onOrderChange">
          <tr>
            <th name="Name" order-by="name"></th>
            <th name="Email" order-by="calories.value"></th>
            <th name="Phone" order-by="fat.value"></th>
            <th name="Status" order-by="carbs.value"></th>
          </tr>
          </thead>
          <tbody>
          <tr md-auto-select>
            <td>Scotty Waggoner</td>
            <td>scotty.waggoner@cru.org</td>
            <td>(123) 456-7890</td>
            <td>Uncontacted</td>
          </tr>
          <tr md-auto-select>
            <td>Scotty Waggoner</td>
            <td>scotty.waggoner@cru.org</td>
            <td>(123) 456-7890</td>
            <td>Uncontacted</td>
          </tr>
          <tr md-auto-select>
            <td>Scotty Waggoner</td>
            <td>scotty.waggoner@cru.org</td>
            <td>(123) 456-7890</td>
            <td>Uncontacted</td>
          </tr>
          </tbody>
        </table>
      </md-data-table-container>
    </md-card-content>
  </md-card>
  <md-card flex>
    <md-card-content>
      mycontent
    </md-card-content>
  </md-card>
</div>
