<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome Week Survey <small>Freshmen - Men</small></h3>
        </div>
        <div class="panel-body">
          100 people - 25 uncontacted
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Fname</td>
            <td>Lname</td>
            <td>(123) 456-7890</td>
            <td>Uncontacted</td>
          </tr>
          <tr>
            <td>Fname</td>
            <td>Lname</td>
            <td>(123) 456-7890</td>
            <td>Uncontacted</td>
          </tr>
          <tr>
            <td>Fname</td>
            <td>Lname</td>
            <td>(123) 456-7890</td>
            <td>Uncontacted</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sophomore Bible Study <small>Men</small></h3>
        </div>
        <div class="panel-body">
          25 people - 5 uncontacted
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Fname</td>
            <td>Lname</td>
            <td>(123) 456-7890</td>
            <td>Uncontacted</td>
          </tr>
          <tr>
            <td>Fname</td>
            <td>Lname</td>
            <td>(123) 456-7890</td>
            <td>Uncontacted</td>
          </tr>
          <tr>
            <td>Fname</td>
            <td>Lname</td>
            <td>(123) 456-7890</td>
            <td>Uncontacted</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
