<md-dialog class="label-dialog" aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools dialog-heading" color-this="background-color" color="labelModal.label.name">
        <h2>{{labelModal.label.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="labelModal.close()">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row" layout-align="center">
        <md-button class="md-raised">
          <ng-md-icon icon="email" style="fill: #dd4e41"></ng-md-icon>
          Email All
        </md-button>
        <md-button class="md-raised">
          <ng-md-icon icon="message" style="fill: #159F5C"></ng-md-icon>
          Text All
        </md-button>
        <md-button class="md-raised">
          <md-icon md-svg-icon="groupme" aria-label="GroupMe Logo"></md-icon>
          GroupMe
        </md-button>
      </div>
      <div class="md-dialog-content" layout="row" layout-align="space-between">
        <div ng-if="labelModal.label.leaders && labelModal.label.leaders.length > 0" layout="row">
          <ng-md-icon class="icon-no-margin" icon="person" size="20"></ng-md-icon>
          <div layout="column">
            <span class="md-body-2">Leaders</span>
            <span ng-repeat="leader in labelModal.label.leaders">{{leader}}</span>
          </div>
        </div>
        <div ng-if="labelModal.label.location"  layout="row">
          <ng-md-icon class="icon-no-margin" icon="place" size="20"></ng-md-icon>
          <div layout="column">
            <span class="md-body-2">Location</span>
            <span>{{labelModal.label.location}}</span>
          </div>
        </div>
        <div ng-if="labelModal.label.surveys && labelModal.label.surveys.length > 0" layout="row">
          <ng-md-icon class="icon-no-margin" icon="assignment" size="20"></ng-md-icon>
          <div layout="column">
            <span class="md-body-2">Surveys</span>
            <span ng-repeat="survey in labelModal.label.surveys">{{survey}}</span>
          </div>
        </div>
      </div>
      <md-divider></md-divider>

      <md-list>
        <md-subheader class="md-no-sticky">People with <strong>{{labelModal.label.name}}</strong> label</md-subheader>
        <md-list-item ng-repeat="person in labelModal.label.people" ng-click="goToPerson(labelModal.label.people.id, $event)">
          <img class="md-avatar" ng-src="{{person.picture}}?width=100&height=100" alt="Profile Picture for {{ person.name }}" ng-if="person.picture !== undefined && person.picture !== null">
          <initials
            ng-if="person.picture == null"
            class="md-avatar"
            first="person.name.split(' ')[0][0]"
            last="person.name.split(' ')[1][0]"
            full-name="person.name">
          </initials>
          <p>{{ person.name }}</p>
          <div class="md-secondary">
            <ng-md-icon icon="email" ng-click="labelModal.sendEmail(person)" aria-label="Send Email" class=""></ng-md-icon>
            <ng-md-icon icon="message" ng-click="labelModal.sendText(person)" aria-label="Send Text" class=""></ng-md-icon>
          </div>
        </md-list-item>
      </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="labelModal.viewAll()" md-autofocus>
        View in people list
      </md-button>
      <span flex></span>
      <md-button ng-click="labelModal.close()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
