<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h3>
      <span>MissionHub</span>
    </h3>
    <md-tabs md-selected="selectedIndex" md-border-bottom flex class="md-primary">
      <md-tab label="Dashboard"></md-tab>
      <md-tab label="People"></md-tab>
    </md-tabs>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <ng-md-icon icon="send"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <ng-md-icon icon="send"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>
