.no-text-transform{
  text-transform: none;
}

.social-sign-in{
  @extend .no-text-transform;
  md-icon, ng-md-icon{
    margin-right: 5px;
  }
}

.facebook-sign-in{
  background-color: #3b5999 !important;
  color: #FFFFFF !important;
}

md-input-container.remove-padding{
  padding-bottom: 2px;
}

.input-label{
  color: rgba(0, 0, 0, 0.541176);
  font-weight: bold;
  font-size: 11px;
}

.chips-margin-bottom{
  margin-bottom: 36px;
}
