person-card .page-header {
  margin: 2em 0 1em;
  h4 {
    margin-bottom: 0;
  }
}

person-card {
  .profile-picture, initials > .initials {
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }
}

h1 > md-input-container {
  margin-top: 0;
  padding-bottom: 0;
  > .md-input{
    width: 100%;
    height: 59px;
    line-height: 55px;
  }
}

.md-button.md-button-sm{
  font-size: 9px;
  min-height: 26px;
  line-height: 26px;
}

.md-button.md-button-header{
  margin: 0;
  min-height: 18px;
  line-height: 18px;
  min-width: 50px;
  ng-md-icon{
    width: 12px;
    height: 12px;
  }
}
