person-card .page-header {
  margin: 2em 0 1em;
  h4 {
    margin-bottom: 0;
  }
}

person-card .profile-picture{
  margin-right: 1em;
}

h1 > md-input-container {
  padding-bottom: 0;
  > .md-input{
    width: 100%;
    line-height: 56px;
  }
}

.md-button.md-button-sm{
  font-size: 9px;
  min-height: 26px;
  line-height: 26px;
}

.md-button.md-button-header{
  margin: 0;
  min-height: 18px;
  line-height: 18px;
  min-width: 50px;
  ng-md-icon{
    width: 12px;
    height: 12px;
  }
}
