<md-card>
  <md-card-content>
    <div layout="row">
      <span><img class="profile-picture" src="https://graph.facebook.com/v2.2/704802237/picture?width=100&height=100" alt="Profile Picture for Scotty Waggoner"></span>
      <div layout="column" flex>
        <div layout="column" layout-gt-md="row">
          <div layout="row" flex>
            <h1 flex="50">
              <md-input-container md-no-float>
                <input type="text" ng-model="card.person.fname" placeholder="First Name">
              </md-input-container>
            </h1>
            <h1 flex="50">
              <md-input-container md-no-float>
                <input type="text" ng-model="card.person.lname" placeholder="Last Name">
              </md-input-container>
            </h1>
          </div>
        </div>
        <div layout="row" layout-align="space-between">
          <md-input-container>
            <label>Role</label>
            <md-select ng-model="card.person.role">
              <md-optgroup label="Cru Position">
                <md-option ng-value="role" ng-repeat="role in ['Full Time Supported Staff', 'Part Time Field Staff', 'Intern', 'Affiliate', 'Volunteer']">{{role}}</md-option>
              </md-optgroup>
              <md-optgroup label="Campus">
                <md-option ng-value="role" ng-repeat="role in ['Student Leader', 'Event Team']">{{role}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
          <!--<small class="text-muted">Enrollment:</small> Masters/Doctorate-->
          <md-input-container>
            <label>Gender</label>
            <md-select ng-model="card.person.gender">
              <md-option ng-value="gender" ng-repeat="gender in ['Male', 'Female']">{{gender}}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </div>

    <md-chips ng-model="card.person.labels" md-autocomplete-snap md-require-match="true">
      <md-autocomplete
        md-selected-item="card.selectedLabel"
        md-search-text="card.labelSearchText"
        md-items="item in card.labelSearch(card.labelSearchText)"
        md-item-text="item.name"
        md-autoselect="true"
        md-min-length="0"
        placeholder="Search for a label">
        <md-item-template>
          <span md-highlight-text="card.labelSearchText" md-highlight-flags="i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          Label not found.
        </md-not-found>
      </md-autocomplete>
      <md-chip-template>
        <span>{{$chip}}</span>
      </md-chip-template>
    </md-chips>

    <div class="page-header">
      <h4>Contact Info</h4>
    </div>

    <div flex layout="column" layout-gt-md="row">
      <div flex layout="column">
        <contact-info title="Emails" label="Email" data="card.person.emails" types="['Home', 'Work', 'Other']"></contact-info>
        <contact-info title="Phone Numbers" label="Phone Number" data="card.person.phones" types="['Home', 'Mobile', 'Work', 'Other']"></contact-info>
      </div>
      <div flex layout="column">
        <contact-info title="Addresses" label="Address" data="card.person.addresses" types="['Home', 'Work', 'Other']"></contact-info>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="page-header">
          <div class="row">
            <h4 class="col-sm-6">Timeline</h4>
            <div class="col-sm-6 text-right">
              <div class="btn-group btn-group-sm">
                <button class="btn" ng-class="{'btn-info': card.showInteractions, 'btn-default': !card.showInteractions}" btn-checkbox ng-model="card.showInteractions" ng-switch="card.showInteractions">
                  <i class="fa fa-eye" ng-switch-when="true"></i>
                  <i class="fa fa-eye-slash" ng-switch-when="false"></i>
                  Interactions
                </button>
                <button class="btn" ng-class="{'btn-info': card.showSurveys, 'btn-default': !card.showSurveys}" btn-checkbox ng-model="card.showSurveys" ng-switch="card.showSurveys">
                  <i class="fa fa-eye" ng-switch-when="true"></i>
                  <i class="fa fa-eye-slash" ng-switch-when="false"></i>
                  Surveys
                </button>
                <button class="btn" ng-class="{'btn-info': card.showMessages, 'btn-default': !card.showMessages}" btn-checkbox ng-model="card.showMessages" ng-switch="card.showMessages">
                  <i class="fa fa-eye" ng-switch-when="true"></i>
                  <i class="fa fa-eye-slash" ng-switch-when="false"></i>
                  Messages
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ul class="timeline">
      <li>
        <div class="timeline-badge primary"><i class="fa fa-users"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Spiritual Conversation <small>with Anonymous Cru Staff</small></h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 20 mins ago - Visible to everyone in Cru Hackathon - Created by Some Other Cru Staff</small></p>
          </div>
          <div class="timeline-body">
            <p>
              Had a very long conversation about something important.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge danger"><i class="fa fa-envelope"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Email <small>from Anonymous Cru Staff</small></h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 1 hr ago - Visible to everyone in Cru Hackathon</small></p>
          </div>
          <div class="timeline-body">
            <p>Hey Scotty,</p>
            <p>Please come to our event.</p>
            <p>Thanks!</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge warning"><i class="fa fa-list-alt"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Completed Survey <small>Welcome Week Survey</small></h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 days ago - Visible to everyone in Cru Hackathon</small></p>
          </div>
          <div class="timeline-body">
            <dl class="dl-horizontal">
              <dt>Dorm Area</dt>
              <dd>Tercero</dd>
              <dt>Year</dt>
              <dd>Senior</dd>
              <dt>Spiritual Background</dt>
              <dd>Christian</dd>
            </dl>
          </div>
        </div>
      </li>
    </ul>
  </md-card-content>
</md-card>
