<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">
              <img src="https://graph.facebook.com/v2.2/704802237/picture?width=100&height=100" alt="Profile Picture for Scotty Waggoner">
            </div>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-6">
                  <h1>Scotty Waggoner</h1>
                </div>
                <div class="col-sm-6 text-right">
                  <span class="label label-default">Leader</span>
                  <span class="label label-default">Involved</span>
                  <span class="label label-default">Some Bible Study</span>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <small class="text-muted">Cru Role:</small> Full Time Supported Staff
                </div>
                <div class="col-sm-4 text-center">
                  <small class="text-muted">Enrollment:</small> Masters/Doctorate
                </div>
                <div class="col-sm-4 text-right">
                  <small class="text-muted">Gender:</small> Male
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <h4>Contact Info</h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <section>
                <h6>Email</h6>
                <p>my.home.email@gmail.com <span class="label label-default">Home</span> <span class="label label-primary">Primary</span></p>
                <p>my.work.email@cru.org <span class="label label-default">Work</span></p>
              </section>
              <section>
                <h6>Phone</h6>
                <p>(123) 456-7890 <span class="label label-default">Mobile</span> <span class="label label-primary">Primary</span></p>
                <p>(098) 765-4321 <span class="label label-default">Home</span></p>
              </section>


            </div>
            <div class="col-sm-6">
              <section>
                <h6>Address</h6>
                <address>
                  <span class="label label-default">Home</span> <span class="label label-primary">Primary</span><br>
                  123 First St<br>
                  Apt 45<br>
                  Some City, FL 12345
                </address>
              </section>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="row">
                  <h4 class="col-sm-6">Timeline</h4>
                  <div class="col-sm-6 text-right">
                    Show
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-default">Interactions</button>
                      <button class="btn btn-default">Surveys</button>
                      <button class="btn btn-default">Messages</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ul class="timeline">
            <li>
              <div class="timeline-badge primary"><i class="fa fa-users"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Spiritual Conversation <small>with Anonymous Cru Staff</small></h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 20 mins ago - Visible to everyone in Cru Hackathon - Created by Some Other Cru Staff</small></p>
                </div>
                <div class="timeline-body">
                  <p>
                    Had a very long conversation about something important.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge danger"><i class="fa fa-envelope"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Email <small>from Anonymous Cru Staff</small></h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 1 hr ago - Visible to everyone in Cru Hackathon</small></p>
                </div>
                <div class="timeline-body">
                  <p>Hey Scotty,</p>
                  <p>Please come to our event.</p>
                  <p>Thanks!</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge warning"><i class="fa fa-list-alt"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Completed Survey <small>Welcome Week Survey</small></h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2 days ago - Visible to everyone in Cru Hackathon</small></p>
                </div>
                <div class="timeline-body">
                  <dl class="dl-horizontal">
                    <dt>Dorm Area</dt>
                    <dd>Tercero</dd>
                    <dt>Year</dt>
                    <dd>Senior</dd>
                    <dt>Spiritual Background</dt>
                    <dd>Christian</dd>
                  </dl>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
