<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">
              <img src="https://graph.facebook.com/v2.2/704802237/picture?width=100&height=100" alt="Profile Picture for Scotty Waggoner">
            </div>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-6">
                  <h1>Scotty Waggoner</h1>
                </div>
                <div class="col-sm-6 text-right">
                  <span class="label label-default">Leader</span>
                  <span class="label label-default">Involved</span>
                  <span class="label label-default">Some Bible Study</span>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <small class="text-muted">Cru Role:</small> Full Time Supported Staff
                </div>
                <div class="col-sm-4 text-center">
                  <small class="text-muted">Enrollment:</small> Masters/Doctorate
                </div>
                <div class="col-sm-4 text-right">
                  <small class="text-muted">Gender:</small> Male
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <h4>Contact Info</h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <section>
                <h6>Email</h6>
                <p>my.home.email@gmail.com <span class="label label-default">Home</span> <span class="label label-primary">Primary</span></p>
                <p>my.work.email@cru.org <span class="label label-default">Work</span></p>
              </section>
              <section>
                <h6>Phone</h6>
                <p>(123) 456-7890 <span class="label label-default">Mobile</span> <span class="label label-primary">Primary</span></p>
                <p>(098) 765-4321 <span class="label label-default">Home</span></p>
              </section>


            </div>
            <div class="col-sm-6">
              <section>
                <h6>Address</h6>
                <address>
                  <span class="label label-default">Home</span> <span class="label label-primary">Primary</span><br>
                  123 First St<br>
                  Apt 45<br>
                  Some City, FL 12345
                </address>
              </section>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <div class="row">
                  <h4 class="col-sm-6">Timeline</h4>
                  <div class="col-sm-6 text-right">
                    Show
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-default">Interactions</button>
                      <button class="btn btn-default">Surveys</button>
                      <button class="btn btn-default">Messages</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ul class="timeline">
            <li>
              <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Spiritual Conversation</h4>
                  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 20 mins ago</small></p>
                </div>
                <div class="timeline-body">
                  <p>
                    Visible to: Everyone in Cru Hackathon<br>
                    Scotty Waggoner initiated a spiritual conversation with Scotty Waggoner.<br>
                    “Test Comment”<br>
                    Created by Scotty Waggoner originated from Cru Hackathon<br>
                    Initiated by Scotty Waggoner<br>
                    Received by Scotty Waggoner</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                    Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere
                    pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                    Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                    Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                    Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                  <hr>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                      <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                    Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                </div>
                <div class="timeline-body">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
                    Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
