<md-card>
  <md-card-content>
    <md-data-table-toolbar layout="row" layout-align="space-between">
      <div flex>
        <md-input-container md-no-float>
          <ng-md-icon icon="search"></ng-md-icon>
          <input ng-model="user.title" placeholder="Search">
        </md-input-container>
      </div>
      <div>
        <md-button ui-sref="people.import">Import</md-button>
        <md-button ui-sref="people.export">Export</md-button>
      </div>
    </md-data-table-toolbar>

    <md-data-table-container>
      <table md-data-table md-row-select="people.selected" md-progress="people.peoplePromise">
        <thead md-order="people.query.order" md-trigger="people.onOrderChange">
        <tr>
          <th name="First" order-by="first_name"></th>
          <th name="Last" order-by="last_name"></th>
          <th name="Gender" order-by="gender"></th>
          <th name="Status" order-by="followup_status"></th>
          <th name="Year in School" order-by="year_in_school"></th>
        </tr>
        </thead>
        <tbody>
        <tr ui-sref="people.card({personId: {{person.id}}})" ng-repeat="person in people.people track by $index">
          <td>{{person.first_name}}</td>
          <td>{{person.last_name}}</td>
          <td>{{person.gender}}</td>
          <td>{{person.organizational_permission.followup_status | capitalize}}</td>
          <td>{{person.year_in_school}}</td>
        </tr>
        </tbody>
      </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.total}}" md-trigger="onPaginationChange"></md-data-table-pagination>
  </md-card-content>
</md-card>
