<div class="page-header" layout="row" layout-align="space-between start">
  <h4>Timeline</h4>
  <div>
    <md-button class="md-accent md-button-sm md-button-header"
               ng-class="{'md-raised': timeline.visibleEventTypes.interaction}"
               ng-click="timeline.visibleEventTypes.interaction = !timeline.visibleEventTypes.interaction"
               ng-switch="timeline.visibleEventTypes.interaction"
               aria-label="Show/Hide">
      <ng-md-icon ng-switch-when="true" icon="visibility" size="10"></ng-md-icon>
      <ng-md-icon ng-switch-when="false" icon="visibility_off" size="10"></ng-md-icon>
      Interactions
    </md-button>
    <md-button class="md-accent md-button-sm md-button-header"
               ng-class="{'md-raised': timeline.visibleEventTypes.message}"
               ng-click="timeline.visibleEventTypes.message = !timeline.visibleEventTypes.message"
               ng-switch="timeline.visibleEventTypes.message"
               aria-label="Show/Hide">
      <ng-md-icon ng-switch-when="true" icon="visibility" size="10"></ng-md-icon>
      <ng-md-icon ng-switch-when="false" icon="visibility_off" size="10"></ng-md-icon>
      Messages
    </md-button>
    <md-button class="md-accent md-button-sm md-button-header"
               ng-class="{'md-raised': timeline.visibleEventTypes.survey}"
               ng-click="timeline.visibleEventTypes.survey = !timeline.visibleEventTypes.survey"
               ng-switch="timeline.visibleEventTypes.survey"
               aria-label="Show/Hide">
      <ng-md-icon ng-switch-when="true" icon="visibility" size="10"></ng-md-icon>
      <ng-md-icon ng-switch-when="false" icon="visibility_off" size="10"></ng-md-icon>
      Surveys
    </md-button>
  </div>
</div>
<md-card class="timeline-card actions-card">
  <div layout="row" layout-align="space-between center">
    <md-button class="md-accent">
      <ng-md-icon icon="people"></ng-md-icon>
      Add Interaction
    </md-button>
    <md-button class="md-accent">
      <ng-md-icon icon="send"></ng-md-icon>
      Send New Message
    </md-button>
    <md-button class="md-accent">
      <ng-md-icon icon="assignment"></ng-md-icon>
      Input Survey Answers
    </md-button>
  </div>
</md-card>
<md-card class="timeline-card" ng-repeat="event in filteredEvents = (timeline.events | eventType:timeline.visibleEventTypes | orderBy : '-timestamp')">
  <div class="timeline-header" layout="row" layout-align="start center">
    <div class="timeline-badge md-primary">
      <div class="badge-day">{{event.timestamp.format('D')}}</div>
      <div class="badge-month">{{event.timestamp.format('MMM')}}</div>
    </div>
    <h4><display-event-title event="event"></display-event-title></h4>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Edit" ng-click="timeline.showInteractionDialog(event)" ng-if="event.eventType === 'interaction'">
      <ng-md-icon icon="edit"></ng-md-icon>
    </md-button>
  </div>
  <md-card-content class="no-spacing-above" ng-switch="event.eventType">
    <p>
      <small class="text-muted">
        <i class="glyphicon glyphicon-time"></i>
        {{event.timestamp.fromNow()}}
        - Visible to everyone in {{event.organization.name}}
        <span ng-if="event.creator"> - Created by <a ui-sref="people.card({personId: event.creator.id})">{{event.creator.name}}</a></span>
      </small>
    </p>
    <div ng-switch-when="interaction">{{event.comment}}</div>
    <div ng-switch-when="message">
      <md-card class="message-container md-whiteframe-1dp">
        <md-card-content>
          <div ng-if="event.to">
            <strong>To:</strong>
            <span ng-if="event.sent_via == 'email'">{{event.to}}</span>
            <span ng-if="event.sent_via == 'sms'">{{event.to | phone}}</span>
          </div>
          <div ng-if="event.from">
            <strong>From:</strong>
            {{event.from}}
          </div>
          <div ng-if="event.subject">
            <strong>Subject:</strong>
            {{event.subject}}
          </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-content class="pre-message">{{event.message}}</md-card-content>
      </md-card>
    </div>
    <div ng-switch-when="survey">
      <dl class="dl-horizontal">
        <dt ng-repeat-start="surveyQuestion in event.survey">{{surveyQuestion.question}}</dt>
        <dd ng-repeat-end>{{surveyQuestion.answer}}</dd>
      </dl>
    </div>
  </md-card-content>
</md-card>
<md-card class="timeline-card" ng-if="filteredEvents.length === 0 && !timeline.loading">
  <md-card-content>
    <div class="text-center text-muted">
      <ng-md-icon icon="event_busy" size="40" style="width: 40px; height: 40px;"></ng-md-icon>
      <h3>There were no events found.</h3>

      <div ng-if="!timeline.visibleEventTypes.interaction || !timeline.visibleEventTypes.message || !timeline.visibleEventTypes.survey">
        Try showing more types:<br>
        <md-button ng-if="!timeline.visibleEventTypes.interaction"
                   class="md-accent md-button-sm md-button-header md-raised"
                   ng-click="timeline.visibleEventTypes.interaction = !timeline.visibleEventTypes.interaction">
          <ng-md-icon icon="visibility" size="10"></ng-md-icon>
          Show Interactions
        </md-button>
        <md-button ng-if="!timeline.visibleEventTypes.message"
                   class="md-accent md-button-sm md-button-header md-raised"
                   ng-click="timeline.visibleEventTypes.message = !timeline.visibleEventTypes.message"
                   ng-switch="timeline.visibleEventTypes.message"
                   aria-label="Show/Hide">
          <ng-md-icon icon="visibility" size="10"></ng-md-icon>
          Show Messages
        </md-button>
        <md-button ng-if="!timeline.visibleEventTypes.survey"
                   class="md-accent md-button-sm md-button-header md-raised"
                   ng-click="timeline.visibleEventTypes.survey = !timeline.visibleEventTypes.survey">
          <ng-md-icon icon="visibility" size="10"></ng-md-icon>
          Surveys
        </md-button>
      </div>
    </div>
  </md-card-content>
</md-card>
